/*----------------------------------------------------------------------

	MASTER STYLESHEET

	Project:        Luke Seven Studio
	Version:        1.0
	Author:         Alex Rohochyi
	Primary use:    Corporate.
	Email:			a94x28@gmail.com

-----------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: Hind, sans-serif;
  font-weight: 400;
  background: rgba(222, 242, 241, 0.2);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.content {
  margin-top: 60px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}

.socials_item {
  margin: 0px 8px;
}

.socials_item a {
  color: #feffff;
}

.footer {
  background: #2b7a78;
  width: 100%;
  padding: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer .copy {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 600;
  color: #17252a;
  text-transform: uppercase;
}

.footer .copy a {
  color: #17252a;
}

.header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10%;
  background: #2b7a78;
  z-index: 100;
}

.logo a {
  display: block;
  color: #feffff;
  line-height: 60px;
  font-size: 3rem;
  text-decoration: none;
}

.nav-wrapper .nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-wrapper .nav-top_item {
  position: relative;
  list-style: none;
  margin-right: 5px;
}

.nav-wrapper .nav-top_item:last-child {
  margin-right: 0;
}

.nav-wrapper .nav-top_item_link {
  display: block;
  color: #feffff;
  padding: 0 20px;
  line-height: 60px;
  font-size: 1.8rem;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav-wrapper .nav-top_item_link:hover {
  color: #17252a;
}

.dropdown-call:hover .nav-dropdown {
  display: block;
}

.nav-dropdown {
  position: absolute;
  left: 0;
  min-width: 200px;
  background: #2b7a78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 10px;
  display: none;
  -webkit-transition: 5s;
  transition: 5s;
}

.nav-dropdown_item_link {
  display: block;
  color: #feffff;
  padding: 8px 20px 8px 10px;
  font-size: 1.8rem;
}

.nav-dropdown_item_link:hover {
  color: #17252a;
}

.hidden {
  display: none;
}

.nav-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  /* Navbar collapsed */
  .nav-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #2b7a78;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    opacity: 0;
  }
  .nav-wrapper .nav-top {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .nav-wrapper .nav-top_item {
    margin-right: 30px !important;
  }
  .nav-wrapper .nav-top_item_link {
    padding: 5px 24px;
    opacity: 0;
    color: #feffff;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-transition: all .2 ease;
    transition: all .2 ease;
  }
  .nav-wrapper .nav-top_item:nth-child(1) a {
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  .nav-wrapper .nav-top_item:nth-child(2) a {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  .nav-wrapper .nav-top_item:nth-child(3) a {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  .nav-wrapper .nav-top_item:nth-child(4) a {
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
  }
  /* Navbar toggler */
  .nav-btn {
    display: block;
    z-index: 9999;
  }
  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #feffff;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
  }
  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

#toggler:checked + .nav-btn {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#toggler:checked + .nav-btn i {
  background: #feffff;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

#toggler:checked + .nav-btn i i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
}

#toggler:checked + .nav-btn i i:nth-child(2) {
  opacity: 0;
}

#toggler:checked + .nav-btn i i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
}

#toggler:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#toggler:checked ~ .nav-wrapper .nav-top .nav-top_item .nav-top_item_link {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.gallery {
  margin: 0 auto;
  width: 90%;
}

.gallery_title {
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
}

.gallery_category {
  width: 100%;
  font-size: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery_category_item {
  margin: 15px 20px;
}
/*# sourceMappingURL=layout.css.map */