// --------------------------------------------------
// Font
// --------------------------------------------------

// eg: @include font($size: 14px, $style: italic, $weight: 400, $variant: normal, $family: $font-family-base);
@mixin font($size: null, $style: null, $weight: null, $variant: null, $family: null) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  font-variant: $variant;
  font-family: $family;
}


// --------------------------------------------------
// Positioning
// --------------------------------------------------

// eg: @include position(absolute, $top: 5px, $left: 5px);
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

// --------------------------------------------------
// Sizing
// --------------------------------------------------

// eg 2: @include size(100%, 1px); */
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// --------------------------------------------------
// Placeholder
// --------------------------------------------------

// eg: @include placeholder($color-base);
@mixin placeholder($color: $input-color-placeholder) {
  &::-moz-placeholder           { color: $color; } // Firefox 19+
  &:-ms-input-placeholder       { color: $color; } // Internet Egplorer 10+
  &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
}

// --------------------------------------------------
// RGBA Background Opacity
// --------------------------------------------------

// eg: @include bg-opacity($color-dark, .2);
@mixin bg-opacity($color, $opacity: 0.3) {
  background: rgba($color, $opacity);
}

