// ==================================
// Typography
// ==================================
//
// Font
$font-family-base: Hind, sans-serif !default;

// Colors
$color-base:  #2b7a78 !default;
$color-base-darken:  #2b7a78 !default;
$color-base-light: #def2f1 !default;
$color-heading: #feffff !default;
$color-subtitle: #17252a !default;
$color-link: #feffff !default;
$color-link-hover: #17252a !default;