// ==================================
// Typography
// ==================================
//
// Font
$font-family-base: Hind, sans-serif !default;

// Colors
$color-base:  #0b0b0b !default;
$color-heading: #0b0b0b !default;
$color-subtitle: #0b0b0b !default;
$color-link: #0b0b0b !default;
$color-link-hover: #ff5e00 !default;