.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
  @include bg-opacity($color-base, 1);
}

.logo {
  a {
    display: block;
    color: $color-heading;
    line-height: 60px;
    font-size: 3rem;
    text-decoration: none;
  }
}

.nav-wrapper {
  .nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    &_item {
      position: relative;
      list-style: none;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
      &_link {
        display: block;
        color: $color-link;
        padding: 0 20px;
        line-height: 60px;
        font-size: 1.8rem;
        text-decoration: none;
        transition: .2s;
        &:hover {
          color: $color-link-hover;
        }
      }
    }
  }
}
.dropdown-call{
  &:hover{
    .nav-dropdown{
      display: block;
    }
  }
}
.nav-dropdown {
  @include position(absolute, $left: 0);
  min-width: 200px;
  background: $color-base;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px;
  display: none;
  transition: 5s;
  &_item{
    &_link{
      display: block;
      color: $color-link;
      padding: 8px 20px 8px 10px;
      font-size: 1.8rem;
      &:hover{
        color: $color-link-hover;
      }
    }
  }
}

.hidden {
   display: none;
}
.nav-btn{
  @include position (fixed, $top: 10px, $right: 10px);
  @include size (48px);
  cursor: pointer;
  border-radius: 50%;
}
