@media screen and (max-width: 768px) {
  /* Navbar collapsed */
  .nav-wrapper {
    @include position(fixed, 0, 0);
    @include size(100%);
    z-index: -1;
    background: #fff;
    transition: all .2s ease;
    opacity: 0;
    ul {
      @include position(absolute, 50%);
      width: 100%;
      transform: translateY(-50%);
      flex-direction: column;
      align-items: flex-end;
      li {
        a {
          padding: 5px 24px;
          opacity: 0;
          color: #000;
          transform: translateX(-20px);
          transition: all .2 ease;
        }
        margin-right: 30px !important;
        &:nth-child(1) a {
          transition-delay: .2s;
        }
        &:nth-child(2) a {
          transition-delay: .3s;
        }
        &:nth-child(3) a {
          transition-delay: .4s;
        }
        &:nth-child(4) a {
          transition-delay: .5s;
        }
      }
    }
  }
  /* Navbar toggler */
  .nav-btn {
    display: block;
    z-index: 9999;
    i {
      display: block;
      width: 20px;
      height: 2px;
      background: #000;
      border-radius: 2px;
      margin-left: 14px;
      &:nth-child(1) {
        margin-top: 16px;
      }
      &:nth-child(2) {
        margin-top: 4px;
      }
      &:nth-child(3) {
        margin-top: 4px;
      }
    }
  }
}
#toggler:checked+.nav-btn {
  transform: rotate(45deg);
  i {
    background: #000;
    transition: transform .2s ease;
    i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
    }
    i:nth-child(2) {
      opacity: 0;
    }
    i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
    }
  }
}

#toggler:checked~.nav-wrapper {
  z-index: 9990;
  opacity: 1;
  ul li a {
    opacity: 1;
    transform: translateX(0);
  }
}